/* Coopconprobien*/
/*.container-probien{
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 100px;
  }*/
  .lbl-menu{
    background:#ED6436;
  }
  .lbl-menu label{
    display: inline-block;
    padding: 20px;
    color:#F2F2F4;
    cursor: pointer;
    transition: all 400ms ease;
  }
  .lbl-menu label:hover{
    background: #c1ebd7;
  }
  .content-probien{
    position: relative;
  }
  .content-probien div{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: #fff;
    padding-bottom: 40px;
  }
  #radio1,#radio2,#radio3{
    display:none;
  }
  #radio1:checked ~ .tab1,
  #radio2:checked ~ .tab2,
  #radio3:checked ~ .tab3
  {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .content-probien div:after{
    position: absolute;
    content: "";
    border-left: 10px solid
    transparent;
    border-right: 10px solid
    transparent;
    border-top: 10px solid
    transparent;
    border-bottom: 10px solid
    #fff;
    bottom: 100%;
    left: 28px;
  }
  .content-probien .tab2:after{
    left: 180px;
  }
  .content-probien .tab3:after{
    left: 250px;
  }
  
  
  /*Coopconprobien*/