.lbl-menu{
    background:#ED6436;
  }
  .lbl-menu label{
    display: inline-block;
    padding: 20px;
    color:#F2F2F4;
    cursor: pointer;
    transition: all 400ms ease;
  }
  .lbl-menu label:hover{
    background: #c1ebd7;
  }
   

  
  
 