.lbl-menu{
    background:#ED6436;
  }
  .lbl-menu label{
    display: inline-block;
    padding: 10px;
    color:#F2F2F4;
    cursor: pointer;
    transition: all 400ms ease;
  }
  .lbl-menu label:hover{
    background: #c1ebd7;
  }
  .content{
    position: relative;
  }
  .content div{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: #fff;
    padding-bottom: 40px;
  }

  
  
 